extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='g_name') Gallery name:
      input#g_name.form-control(type='text', placeholder='min. 2 litery' name='g_name' required value=(gallery ? gallery.name : ''))

      label(for='g_description') Description:
      input#g_description.form-control(type='text', placeholder='min. 2 litery' name='g_description' required value=(gallery ? gallery.description : ''))

      p Gallery will be assigned to you: #{user}
      input(type='hidden', name='g_user', value=user._id)
      //user_

    button.btn.btn-primary(type='submit') Submit

  if messages
    ul
      for message in messages
        li= message
