extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='g_name') Name:
      input#g_name.form-control(type='text', name='g_name', required value=gallery.name)

      label(for='g_description') Description:
      input#g_description.form-control(type='text', name='g_description', value=gallery.description)

    button.btn.btn-primary(type='submit') Update

  if messages
    ul
      for msg in messages
        li= msg
